

{% extends "studyhelper/base.html"  %}

<!--  display the final content of every title relative to its group         -->
{%  block title %}
titlepage


{%endblock%}
<!--first block                     -->
{% block group  %}
     <ul>
     {% for group in groupNames %}
       <li>
         <a href="/titlelist/{{group.slugGroups}}">{{group.groupName}} </a>

       </li>
       {% endfor %}
   </ul>

 {%endblock%}

<!--          end of first block start of second block       -->


{% block topictitles  %}

<ul>

 {% for title in titlesList %}

<li><a href="/titles/{{title.slug}}">{{title.title}}</a></li>
 {%endfor%}

</ul>



{%endblock%}


<!--End of second block start of third block    -->





{% block contenttitle%}
<h3>heading</h3>

{{titlename.questions}}
{{titlename.no_of_time_accessed}}
{{titlename.priority}}


{% endblock %}